@use "../theme.config.scss" as vars;

.avatar__container {
  display: flex !important;
  align-items: center;
  justify-content: center;

  img {
    width: 128px !important;
    height: 128px !important;
  }

  div {
    border: 3px solid vars.$blue;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px vars.$blue;
  }
}

.layout {
  width: 73vw;
  border: none !important;
  box-shadow: unset !important;
}

.branding {
  transform: translateY(37%);
}

.hidden {
  display: none !important;
}

.svgfire {
  filter: url(../assets/svg/fire.svg#fire_filter_id);
}

