@use "./theme.config" as vars;

@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Fira+Code&display=swap');

.page__container--color {
  background: vars.$pink;
  background: radial-gradient(circle, rgba(vars.$pink, 0.9) 0%, rgba(vars.$black, 0.9) 90%);
  transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
  transform: translate3d(0, 0, 0);
}

.dashboard__subtitle {
  h1 {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 4rem;
    filter: drop-shadow(0 0 7px vars.$pink);
  }

  h2 {
    font-family: 'Fira Code', monospace;
    text-decoration: underline;
  }

  h4 {
    font-family: 'Dr Sugiyama', cursive;
  }
}

.page__container {
  display: flex !important;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: vars.$black;

  &:nth-child(2) {
    background: vars.$blue;
    background: radial-gradient(circle, rgba(vars.$blue, 1) 0%, rgba(vars.$black, .9) 90%);

    .motivation__article {
      transition: transform .5s ease !important;
      transform: scale3d(0.75, 0.75, 1) translateY(-5%);
    }

    &:hover .motivation__article {
      transform: scale3d(1, 1, 1);
    }
  }

  article > P {
    text-align: justify;
  }
}

.text--pronounced {
  font-weight: bold;
}

.style__border--none {
  border: none !important;
}

a {
  color: vars.$black !important;
  text-decoration: underline !important;

  &:hover {
    font-weight: bold;
  }
}
