@use "sass:color";
@use "./theme.config" as vars;

.page__container--color {
  background: vars.$pink;
  background: radial-gradient(circle, rgba(vars.$pink, 0.9) 0%, rgba(vars.$black, 0.9) 90%);
  transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
  transform: translate3d(0, 0, 0);
}

.dashboard__subtitle {
  h1 {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 4rem;
    filter: drop-shadow(0 0 7px vars.$pink);
  }

  h2 {
    font-family: 'Fira Code', monospace;
    text-decoration: underline;
  }

  h4 {
    font-family: 'Dr Sugiyama', cursive;
  }
}

.page__container {
  display: flex !important;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: vars.$black;
  background: transparent !important;

  &:nth-child(2) {
    .motivation__article {
      transition: transform .5s ease !important;
      transform: scale3d(0.75, 0.75, 1) translateY(-5%);
    }

    &:hover .motivation__article {
      transform: scale3d(1, 1, 1);
    }
  }

  &:nth-child(3) {
    min-height: 100vh;
    height: auto;
  }

  article > P {
    text-align: justify;
  }
}

.text--pronounced {
  font-weight: bold;
}

.style__border--none {
  border: none !important;
  box-shadow: unset !important;
}

a {
  color: vars.$black !important;
  text-decoration: underline !important;

  &:hover {
    font-weight: bold;
  }
}

.vertical-timeline-element-date {
  filter: drop-shadow(0 0 5px white);
}

nav ~ div > div {
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden;

  &> div:last-child > div {
    background-color: vars.$pink !important;
  }
}

.drop-shadow--blue {
  filter: drop-shadow(0 0 7px vars.$blue) !important;
}

.svg__filter--fire {
  filter: url(./assets/svg/fire.svg#fire_filter_id);
}
.svg__filter--offset {
  filter: url(./assets/svg/offset.svg#offset_filter_id);
}

#github-container .js-calendar-graph.calendar-graph {
  height: auto !important;
}

svg {
  rect[data-count] {
    fill: #{color.adjust(vars.$blue, $lightness: -15%, $saturation: 50%)} !important;
    rx: 5;
    ry: 5;
  }

  rect[data-count="0"] {
    fill: #{vars.$white} !important;
    fill-opacity: 0%;
    stroke: #{vars.$white};
    rx: 1;
    ry: 1;
  }

  rect[data-count="1"],
  rect[data-count="2"],
  rect[data-count="3"],
  rect[data-count="4"],
  rect[data-count="5"] {
    fill: #{color.adjust(vars.$blue, $lightness: 30%)} !important;
    rx: 2;
    ry: 2;
  }

  rect[data-count="6"],
  rect[data-count="7"],
  rect[data-count="8"],
  rect[data-count="9"],
  rect[data-count="10"] {
    fill: #{color.adjust(vars.$blue, $lightness: 15%, $saturation: 15% )} !important;
    rx: 3;
    ry: 3;
  }

  rect[data-count="11"],
  rect[data-count="12"],
  rect[data-count="13"],
  rect[data-count="14"],
  rect[data-count="15"] {
    fill: #{color.adjust(vars.$blue, $saturation: 30%)} !important;
    rx: 4;
    ry: 4;
  }
}

ul.legend > li {
  background-color: #{vars.$white} !important;
  border-radius: 10%;

  &:nth-child(1) {
    background-color: transparent !important;
    border-width: 1px;
    border-color: #{vars.$white};
    border-style: solid;
  }

  &:nth-child(2) {
    background-color: #{color.adjust(vars.$blue, $lightness: 30%)} !important;
    border-radius: 20%;
  }
  &:nth-child(3) {
    background-color: #{color.adjust(vars.$blue, $lightness: 15%, $saturation: 15% )} !important;
    border-radius: 30%;
  }
  &:nth-child(4) {
    background-color: #{color.adjust(vars.$blue, $saturation: 30%)} !important;
    border-radius: 40%;
  }
  &:nth-child(5) {
    border-color: #{color.adjust(vars.$blue, $lightness: -15%, $saturation: 50%)} !important;
    border-radius: 50%;
  }
}
